{% extends 'admins/base.html' %}

{% block content %}
    <main>
        <div class="container-fluid">
            <h1 class="mt-4">Продукты</h1>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table mr-1"></i>
                    Продукты
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Название</th>
                                <th>Описание</th>
                                <th>Активный</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Название</th>
                                <th>Описание</th>
                                <th>Активный</th>
                                <th></th>
                            </tr>
                            </tfoot>
                            <tbody>
                            {% for category in object_list %}
                                <tr>
                                    <td>{{ category.id }}</td>
                                    <td><a href="{% url 'admins:admin_category_update' category.id %}"
                                           style="color: dodgerblue">{{ category.name }}</a></td>
                                    <td>{{ category.description }}</td>
                                    <td class="text-center">
                                        <a href="{% url 'admins:admin_category_update_status' category.pk %}">
                                            <i class="{% if category.is_active %}
                                                          fas fa-check-circle
                                                      {% else %}
                                                          fas fa-times-circle
                                                      {% endif %}"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{% url 'admins:admin_products_category' category.id %}"
                                           class="btn btn-outline-primary col">
                                            Список продуктов в категории
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{% url 'admins:admin_category_create' %}">
                        <button class="btn btn-success">Создать категорию</button>
                    </a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}